[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=~
RuntimeDirectory=monero
StateDirectory=monero
LogsDirectory=monero

Type=forking
PIDFile=/run/monero/monerod.pid
ExecStart=/usr/local/bin/monerod --config-file /etc/bitmonero/monerod.conf \
    --detach --pidfile /run/monero/monerod.pid


Restart=always

[Install]
WantedBy=multi-user.target
