[Unit]
Description=Monero Full Node
After=network.target

[Service]
PIDFile=/Thymine/Blockchains/Monero/monerod.pid
ExecStart=/usr/local/bin/monerod --restricted-rpc --confirm-external-bind --config-file /etc/bitmonero/monerod.conf --detach

[Install]
WantedBy=multi-user.target
