[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=Adenine
Group=Adenine
WorkingDirectory=/
Type=forking

ExecStart=/usr/local/bin/monerod --restricted-rpc --confirm-external-bind --config-file /etc/bitmonero/monerod.conf --detach --pidfile=etc/bitmonero/monerod.pid

[Install]
WantedBy=multi-user.target
